
.wrap {
    width: 60%;
    margin: 0 auto;
}

.category {
    display: inline-block;
    width: 120px;
    margin: 10px;
}

.category span {
    margin: 10px auto;
    text-align: center;
    display: block;
}


/*icon*/
.fa {
    display: block;
    width: 64px;
    height: 64px;
    text-align: center;
    margin: 2px auto;
}

.fa-plane {
    color: #8C7676;
    font-size: 4em;
}

.fa-bookmark {
    color: #8C7676;
    font-size: 4em;
}

.fa-cutlery {
    color: #8C7676;
    font-size: 4em;
}

.fa-lightbulb-o {
    color: #8C7676;
    font-size: 4em;
}

.fa-user {
    color: #8C7676;
    font-size: 4em;
}

.fa-shopping-bag {
    color: #8C7676;
    font-size: 3.5em;
}

.fa-video-camera {
    color: #8C7676;
    font-size: 3.5em;
}

.fa-glass {
    color: #8C7676;
    font-size: 3.5em;
}

.fa-thumb-tack {
    color: #8C7676;
    font-size: 4em;
}
.fa-plus {
    color: #8C7676;
    font-size: 4em;
}
